# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
.venv/
myenv/      # ⬅️ My virtual environment

# Environment variable files
.env
.env.*

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Pytest
.pytest_cache/
.cache/

# Test and coverage reports
co
